name: CheckMake
on:
  push:
    tags:
      - v*
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

# cancel the in-progress workflow when PR is refreshed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  checkmake:
    name: CheckMake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    # checkmake uses go run, so this needs go installed
          - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go
      - name: Run CheckMake
        run: make checkmake
